@media screen and (min-width: 0px) {
  h5 {
    font-style: normal;
    font-weight:normal;
    font-size: 16px;
    line-height: 18px;
    margin-top:7px;
  }
  .topo h5{
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
  }
  .box-content-form {
    background: #f6f9fc;
  }
  #menu-mae{
    position:absolute;
    width: 100%;
  }
  #second-box-corp {
    background: url(../bg-features-mobile.png);
  }
  #header-corp {
    background-image: url(../img/bpp_pix_01_mobile_.jpg);
    max-height: 750px;
  }
  #header-corp .col-12{
    display: block;
    flex: none;
  }
  #header-corp p{
    line-height: 22px;
  }
  h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 31px;
    line-height: 36px;
    text-align: center;
    margin-top:102px;
    margin-bottom:16px;
  }

  h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }

  h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  }

  #header-corp .row {
    height: 690px;
  }
  #first-box-corp  p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color:#84888C;
    
  }
  #first-box-corp .topo p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color:#303D63;
  }
  .box-content-form h2{
    color:#32BCAD;
    text-align: center;
    padding: 50px 15px;
    margin: 0 -15px;
    background-color: #fff;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
  }
  #first-box-corp .box-content-form p.subtitle{
    font-size: 16px;
    line-height: 18px;
    margin-bottom:20px;
    text-align: center;
    color:#303d63;
    margin-top: 30px;
  }
  .obrigado-pix{
    height:100vh;
    background-color:#f6f9fc;
  }
  .obrigado-pix section{
    text-align: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
  }
  .obrigado-pix h1{
    margin-top:0;
    font-size: 48px;
    line-height: 72px;
    margin-bottom:0;
  }
  .obrigado-pix p{
    font-size: 18px;
    line-height: 28px;
    color:#95999C;
    margin:15px 0 30px;
  }
  .obrigado-pix button{
    color:#fff;
    width: 200px;
    height: 50px;
    background-color:#32BCAD;
    border:solid 1px #32BCAD;
    transition:0.2s;
    border-radius: 5px;
    font-weight: 900;
  }
  .obrigado-pix button:hover{
    color:#32BCAD;
    background-color:#f6f9fc;
    border:solid 1px #32BCAD;
    transition:0.4s;
  }
  .obrigado-pix #menu-mae{
    position:relative;
  }
  .obrigado-pix footer{
    position:relative;
    width:100%;
    bottom:0;
  }

  /* .container {
    max-width: 100%!important;
  } */

  .section-301-img {
    background-image: url('/assets/pix/img/banner-301-mobile.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
  }

  .section__301-mobile {
    height: 600px;
    width: 100%;
    padding: 48px 16px;
    text-align: center;
    background-color: #262626;
  }

  .section__301-desktop {
    display: none;
  }

  .section__301-title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #FBFCFC;
    margin-bottom: 15px;
  }

  .section__301-subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #26A6FF;
    margin-bottom: 15px;
  }

  .section__301-info {
    font-weight: bold!important;
    font-size: 32px!important;
    line-height: 48px!important;
    color: #F8F8F8!important;
    margin-bottom: 23px;
  }

  .section__301-text {
    color: #F8F8F8!important;
    line-height: 24px!important;
    text-align: left;
    margin-bottom: 22px;
  }

  .section__301-btn {
    height: 50px;
    width: 100%;
    max-width: 330px;
    border: none;
    border-radius: 10px;
    background-color: #26A6FF;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
  }

  .section__301-btn:hover {
    background-color: #0285C9;
  }
}
@media screen and (min-width: 768px) {
  #second-box-corp {
    background: url(../img/bg-features-desk.png);
  }
  #header-corp {
    background-image: url(../img/bpp_pix_01_mobile_.jpg);
    background-size: cover;
    max-height: none;
  }
  #header-corp h1{
    margin-top: 0;
  }
  #menu-mae{
    width: 100%;
    background-color: transparent;
    z-index: 10;
    
  }
  .obrigado-pix section{
    height: 98vh;
  }
  .obrigado-pix #menu-mae{
    position:absolute;
  }
  .obrigado-pix footer{
    position:absolute;
    width:100%;
    bottom:0;
  }

  .section-301-img {
    background-image: url('/assets/pix/img/banner-301-1.png');
    background-position: right;
    height: 450px;
  }

  .section__301-info {
    width: 400px;
    margin: 10px auto;
  }

  .section__301-text {
    width: 420px;
    margin: 10px auto;
  }
}
.c-white{
  color:#fff;
}

h1,
h3,
p,
.c-blue,
h4,
h5 {
  color: #303d63;
}

@media screen and (min-width: 992px) {
  .box-content-form {
    background: #ffffff;
  }
  .box-content-form h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: left;
    color: #32BCAD;
    padding: 0;
    margin: 80px 0 39px;
  }
  #first-box-corp .box-content-form p.subtitle{
    font-size: 20px;
    line-height: 30px;
    margin-bottom:20px;
    text-align: left;
    margin-top: 0;
  }
  .box-form {
    background: #ffffff;
    box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 90px;
  }

  h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
  }
  h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  }

  #header-corp .row {
    height: 540px;
  }

  #header-corp{
    background-position: center;
    background-image: url(../img/bpp_pix_01_v3_.jpg);
    background-size: cover;
    max-height: none;

  }
  #header-corp p{
    padding-top: 48px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
  }

  #first-box-corp p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #84888c;
  }
  #first-box-corp .topo p{
    font-size: 20px;
    line-height: 28px;
    color:#303D63;
    margin-top: 80px;
  }
  #first-box-corp .topo h5{
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    margin-top:38px;
  }
  #first-box-corp >div >div div:nth-child(even){
    padding-right: 67px;
  }
  #header-corp div.row{
    padding-top:100px !important;
  }
}
.btn-primary {
  background-color: #32BCAD;
  display: block;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  font-weight: 900;
  border-radius: 4px;
  color: #fff;
  border: 2px solid #32BCAD;
  padding: 15px;
}

.btn-primary:hover {
  border: solid 2px;
  border-color: #32BCAD;
  background-color: transparent;
  color: #32BCAD;
}

@media screen and (min-width: 1100px) {
  #header-corp{
    background-position: center;
  }

  /* .container {
    max-width: 960px!important;
  } */
  .section-301-img {
    display: none;
  }

  .section__301-mobile {
    display: none;
  }

  .section__301-desktop {
    display: block;
    background-image: url('/assets/pix/img/banner-301-1.png');
    background-size: cover;
    background-position: 70%;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    max-width: 1920px;
    padding-top: 100px;
    padding-left: 50px!important;
  }

  .section__301-info {
    margin: 0 0 10px;
  }

  .section__301-text {
    margin: 0 0 10px;
  }

  .section__301-btn {
    width: 170px;
  }
}

@media screen and (min-width: 1920px) {
  .section__301-desktop {
    background-image: url('/assets/pix/img/banner-301-2.png');
    height: 900px;
    padding-left: 150px!important;
  }
}